{% extends "base.html" %}

{% block content %}
{% if exercise.author.pk == request.user.pk %}
<div class="exercise-entry">
  <h2>{{ object.exercise_name }}</h2>
  <p>muscles worked: {{ object.muscles_worked }}</p>
  <p>notes: {{object.notes }}</p>
</div>
<div>
  <p><a href="{% url 'exercise_edit' exercise.pk %}">Edit</a>
    <a href="{% url 'exercise_delete' exercise.pk %}">Delete</a>
  </p>
  <p>Back to <a href="{% url 'exercise_list' %}">All Exercises</a>.</p>
</div>
{% endif %}
{% endblock content %}