{% extends "base.html" %}

{% block title %}Workouts{% endblock title %}

{% block content %}
<h1>Your Workouts</h1>
<p>A list of all your recorded workouts.</p>
{% for workout_session in object_list %}
{% if workout_session.author.pk == request.user.pk %}
<div class="card">
  <h5 class="card-header p-3"><a href="{% url 'workout_session_detail' workout_session.id %}" class="link-dark link-offset-2"> {{ workout_session.workout_name }}, {{ workout_session.workout_date }}</a></h5>
    <div class="card-body">
      <a href="{% url 'workout_session_edit' workout_session.id %}"><button class="btn btn-primary">Edit</button></a> 
      <a href="{% url 'workout_session_delete' workout_session.id %}"><button class="btn btn-danger">Delete</button></a>
  </div>
</div>
{% endif %}
{% endfor %}
<a href="{% url 'workout_session_new' %}"><button class="btn btn-secondary mt-3">Add New Session</button></a>
{% endblock content %}