{% extends "base.html" %}


{% block content %}
{% if object.author.pk == request.user.pk %}
<h1>{{ object.workout_name }} | {{ object.workout_date }}</h1>
<a href="{% url 'workout_new' object.id %}"><button class="btn btn-secondary mt-2 mb-3">Add new exercise</button></a>
{% for workout in object.workout_set.all %}
<div class="card m-1">
  <div class="card-header">
    <div class="d-flex">
      <h3 class="p-2 flex-grow-1">{{ workout.exercise }}</h3>
      <div class="p-2">
        <a href="{% url 'workout_set_new' workout.id %}"><button class="btn btn-success">Add Set</button></a>
      </div>
      <div class="p-2">
        <a href="{% url 'workout_edit' object.id workout.id %}"><button class="btn btn-primary">Edit</button></a> 
      </div>
      <div class="p-2">
        <a href="{% url 'workout_delete' object.id workout.id %}"><button class="btn btn-danger">Delete</button></a>
      </div>
    </div>
  </div>
  {% for workout_set in workout.set_set.all %}
  <div class="card-body">
    <p>Set: {{ workout_set.set_number }}</p>
    <p>Weight: {{ workout_set.weight }} kg</p>
    <p>Reps: {{ workout_set.repetitions }}</p>
    <p>Notes: {{ workout_set.notes }}</p>
    <!-- pass both workout.pk and set.pk to url -->
  </div>
    <div class="card-footer">
      <a href="{% url 'workout_set_edit' workout.id workout_set.id %}"><button class="btn btn-outline-primary">Edit Set</button></a> 
      <a href="{% url 'workout_set_delete' workout.id workout_set.id %}"><button class="btn btn-outline-danger">Delete Set</button></a>
    </div>
  {% endfor %}
</div>
{% endfor %}
{% endif %}
{% endblock content %}